doctype html
html
  head
    title
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 eCommerce Warehouse
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') FAQ
        li: a(href='/items/new') Add Item
        li: a(href='/items') View Current Items

    block content
