doctype html
html
  head
    meta(charset='utf-8')
    title eCommerce
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 eCommerce
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') Faq
        li: a(href='/items/new') New Items
        li: a(href='/items') Create Items
        li: a(href='/items') Index
        li: a(href='/items/:id') Show
        li: a(href='/items/:id/delete') Destroy

